---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_consumer_key>&location=denver,co&maxResults=1&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 13 Jun 2021 03:36:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}}]}]}'
  recorded_at: Sun, 13 Jun 2021 03:36:49 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_api_key>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623555409,"sunrise":1623497489,"sunset":1623551306,"temp":296.86,"feels_like":296.49,"pressure":1010,"humidity":46,"dew_point":284.57,"uvi":0,"clouds":10,"visibility":10000,"wind_speed":0.89,"wind_deg":146,"wind_gust":5.36,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1623553200,"temp":297.43,"feels_like":297.01,"pressure":1010,"humidity":42,"dew_point":283.71,"uvi":0,"clouds":11,"visibility":10000,"wind_speed":3.2,"wind_deg":130,"wind_gust":5.31,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1623556800,"temp":296.86,"feels_like":296.49,"pressure":1010,"humidity":46,"dew_point":284.57,"uvi":0,"clouds":10,"visibility":10000,"wind_speed":2.25,"wind_deg":189,"wind_gust":3.54,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1623560400,"temp":297.08,"feels_like":296.65,"pressure":1010,"humidity":43,"dew_point":283.75,"uvi":0,"clouds":10,"visibility":10000,"wind_speed":1.79,"wind_deg":255,"wind_gust":3.27,"weather":[{"id":800,"mai[...]
