---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_api_key>&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623521044,"sunrise":1623497489,"sunset":1623551306,"temp":301.02,"feels_like":300.03,"pressure":1011,"humidity":27,"dew_point":280.32,"uvi":10.68,"clouds":0,"visibility":10000,"wind_speed":1.34,"wind_deg":18,"wind_gust":4.47,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623520800,"temp":301.02,"feels_like":300.03,"pressure":1011,"humidity":27,"dew_point":280.32,"uvi":10.68,"clouds":0,"visibility":10000,"wind_speed":2.92,"wind_deg":85,"wind_gust":2.69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623524400,"temp":301.6,"feels_like":300.33,"pressure":1011,"humidity":24,"dew_point":279.1,"uvi":11.45,"clouds":0,"visibility":10000,"wind_speed":3.27,"wind_deg":55,"wind_gust":2.65,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623528000,"temp":302.78,"feels_like":301.12,"pressure":1010,"humidity":21,"dew_point":278.16,"uvi":10.74,"clouds":0,"visibility":10000,"wind_speed":3.52,"wind_deg":60,"wind_gust":3.33,"weather":[{"id":800,"m[...]
